* {
    
    
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
     


}
.contener {
  padding: 5% 3% 3%;
  
}

.hero {
 
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 100vh;
}
.hero img {
  width: 600px;
}
.hero p {
  font-size: 30px;
  padding: 40px;
}
 .contener h1 {
  margin-bottom: 100px;
  margin-top: 151px;
  text-align: center;
}

.hero2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 100vh;
  margin-top: 100px;
}
.hero2 img {
  width: 50%;
  height: 699%;
}
.hero2 p {
  width: fit-content;
  font-size: 30px;
  padding: 40px;
}

span {
  color: rgb(41, 206, 96);
}

.flooring-categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 100px;
  flex-wrap: wrap;
}

.flooring-cards {
  width: 26%;
  text-align: center;
  border: 1px solid #ddd;
  position: relative;
}

.textincards {
  position: absolute;
  bottom: 0;  
  z-index: 2;
  left: 0;  
  width: 100%;  
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(121, 128, 128, 0.7); 
  justify-content: center;
  gap: 1rem;
  padding: 10px 0;  
}

.flooring-cards img {
  width: 100%; 
  height: auto;
}

.textincards a {
  color: white;
  text-decoration: none;
}

.imgandtext {
  width: 100%;
  display: flex;
  max-height: 100vh;
  margin-top: 100px;
}
.imgandtext img{
  height: 100%;
  margin-right: 10px;
}

.typeofservice h5  {
  font-size: 30px;
}
.typeofservice{
  font-size: 20px;
}
.mywork{
   width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
    gap:100px;
    flex-wrap: wrap;
}
.works{
  display: block;
  width: 27%;
  justify-content: center;
}
.works p{
  font-size: 19px;

}
.myworks{
  margin-left: 40px;
   width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap:100px;
  flex-wrap: wrap;
}
.ins{
  text-align: center;
}




@media screen and (min-width: 1024px) {
  .hero p, .hero2 p {
    font-size: 30px;
  }

  .contener h1 {
    margin-bottom: 100px;
    margin-top: 150px;
  }

  .typeofservice h5 {
    font-size: 30px;
  }

  .typeofservice {
    font-size: 20px;
  }

  .works p {
    font-size: 19px;
  }
}